<div class="main bg1 flex center-center ">
    <div class="main-pic">
        <img class="fullHeight fullWidth" src="../../assets/pictures/bluedoggy.png" alt="">
    </div>
    <div class="main-info column flex textCenter gap05em">
        <h3 class="">About cosmetics</h3>
        <label>For dogs and cats of all sizes, breeds and hair types</label>
        <label>If your dog is aggressive or fearful, please let us know in advance</label>
        <label for="">Sensitivities and skin diseases must be announced in advance</label>
        <label for="">Cancellation of the appointment must be notified at least 1 day in advance!</label>

    </div>
</div>

