.main2 {
    background-image: url('../../assets/pictures/Mask group.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    // display: block;
    height: 100vh;

}

.form{
    background-color: #B2CDEF;
    width: 40%;
    height: 80%;
    border-radius: 12px;
}

img{
    width: 10%;
    height: 80%;
}

.width-80{
    width: 80%;
}

.text{
    height: 700px;
}
  