<div class="main bg1 flex center-center ">
    <div class="main-pic">
        <img class="fullHeight fullWidth" src="../../assets/pictures/daerkbluedoggy.png" alt="">
    </div>
    <div class="main-info column flex center-center">
        <h2 class="fullWidth main-yellow-color textCenter">Services</h2>
        <div class="flex gap2em spacebetween">
            <div class="minicard flex">
                <div class="paw flex center-center main-blue">
                    <img class="fullHeight fullWidth" src="../../assets/pictures/WHITE_PAW 5.png" alt="">
                </div>
                <div class="list mt2 column flex textCenter">
                    <label class="main-blue-color" for=""><b>Mini Cosmetics</b></label>
                    <label class="mt1">Combing Through/ Brushing</label>
                    <label>Ear Plucking</label>
                    <label>Claw Cutting</label>
                    <label>Paw Clipping</label>
                </div>


            </div>
            <div class="minicard flex">
                <div class="paw flex center-center main-blue">
                    <img class="fullHeight fullWidth" src="../../assets/pictures/WHITE_PAW 5.png" alt="">
                </div>
                <div class="list mt2 column flex textCenter">
                    <label class="main-blue-color" for=""><b>Mini Cosmetics</b></label>
                    <label class="mt1">Combing Through/ Brushing</label>
                    <label>Ear Plucking</label>
                    <label>Demolition</label>
                    <label>Creating a style (trimming, shearing)</label>
                    <!-- <label>Ear Plucking</label>
                    <label>Claw Cutting</label>
                    <label>Paw Clipping</label> -->
                </div>

            </div>
        </div>
    </div>

</div>