<app-toolbar></app-toolbar>
<div class="main bg main-blue flex center-center ">
    <div class="main-info column white flex center-center">
        <h2 class="no-margin">Professional care for your pet</h2>
        <h4>For dogs and cats of all sizes, breeds and hair types</h4>
        <button mat-fab extended class="main-yellow">
            I'm making an appointment
        </button>
    </div>
    <div class="main-pic center-center flex">
        <img class="fullHeight fullWidth" src="../../assets/pictures/dog2.png" alt="">
    </div>
</div>
<!-- <app-info></app-info> -->
 <app-services></app-services>