<app-toolbar></app-toolbar>
<div class="main bg main-blue flex center-center ">
    <div class="main-info column main-yellow-color flex center-center">
        <h2 class="">Professional care for your pet</h2>
        <h4>For dogs and cats of all sizes, breeds and hair types</h4>
        <!-- <button mat-fab extended class="main-yellow">
            I'm making an appointment
        </button> -->
        <h4>You bark, we park</h4>
    </div>
    <div class="main-pic center-center flex">
        <img class="fullHeight fullWidth" src="../../assets/pictures/dog2.png" alt="">
    </div>
</div>
 <app-services></app-services>
 <app-stats></app-stats>
 <app-gallery></app-gallery>
<app-info></app-info>
<app-form></app-form>
